.register-supplies-container {
    width: 100%;
    max-width: 1120px;
    height: 37rem;
    margin: 1% auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-supplies-container .content {
    width: 100%;
    padding: 26px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 1%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-supplies-container .content section {
    width: 100%;
    max-width: 1120px;
}

.register-supplies-container .content h1 {
    margin: 25px 0 32px;
    font-size: 35px;
    color: black;
}

.register-supplies-container .content p {
    font-size: 12px;
    color: #E02041;
}

.register-supplies-container .content form {
    width: 100%;
    max-width: 1120px;
} 

.register-supplies-container .content form label {
    color: black;
    font-size: 20px;
    margin-top: 1%;
}

.register-supplies-container .content .back-link {
    margin-top: -30%;
}

.register-supplies-container .content .required {
    color: #E02041;
}

.bntSave {
    width: 10%;
    line-height: 200%;
    background: #10a010;
    border: 0;
    border-radius: 8px;
    color: white;
    font-weight: lighter;
    margin-top: 16px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: filter 0.2s;
}

.bntSave:hover{
    filter: brightness(90%);
}

.alignRigthBtn {
    display: flex;
    align-items: right;
    justify-content: right;
}

